.badge {
    background-clip: padding-box;
    border-image-source: paint(kode-labs-edge);
    border-image-slice: 10;
    padding: 1.5em;
    --kode-labs-circles-width: 1 1 2 4 1;
    --kode-labs-circles-opacity: .1 .2 .5 .6 .3;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    background: paint(kode-labs-circles);
    background-clip: padding-box;
    color: var(--primary-color);
}

.badge[labs-to-right] {
    --kode-labs-edge-direction: to right;
    border-right: 40px solid transparent;
}

.badge[labs-to-left] {
    --kode-labs-edge-direction: to left;
    border-left: 40px solid transparent;
}
