button[labs-primary] {
    padding: .3em;
    border-radius: 2px;
    letter-spacing: 2px;
    color: var(--bg-color);
    font-size: 42px;
    font-weight: bold;
    background: paint(kode-labs-bg-lines), var(--primary-color);
    border: 20px solid transparent;
    border-image-source: paint(kode-labs-corner);
    border-image-slice: 20;
    background-clip: padding-box;
    transition: all .3s ease,
    --kode-labs-corner-color .3s ease,
    --kode-labs-corner-length .3s ease;
    outline:none;
    text-transform: uppercase;
    font-family: inherit;
}

@media (hover) {
    button[labs-primary]:hover {
        --kode-labs-corner-length: 20px;
    }
}

button[labs-primary]:active {
    --kode-labs-corner-length: 60px;
    --kode-labs-corner-color: var(--primary-color);
}
