.card[labs-primary] {
    padding: .3em;
    letter-spacing: 2px;
    color: var(--bg-color);
    font-size: 42px;
    font-weight: bold;
    background: paint(kode-labs-bg-lines), var(--primary-color);
    text-transform: uppercase;
}

.card[labs-xl] {
    font-size: 125px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 14px 40px rgba(0, 0, 0, .2);
}

.card:not([labs-primary]) {
    --kode-labs-bg-dots-radius: 1px;
    --kode-labs-bg-dots-distance: 10px;
    background: paint(kode-labs-bg-dots), var(--border-color);
    padding: 1.5em;
    border: 1px solid var(--border-color);
}
