crystal {
    width: 350px;
    height: 60px;
    background: red;
    background: paint(crystal);
    display: grid;
    color: var(--color-bg);
    place-items: center;
    text-shadow: 1px -1px 0 rgba(255,255,255,.6), 1px 1px 0 rgba(255,255,255,.6), -1px -1px 0 rgba(255,255,255,.6),  -1px 1px 0 rgba(255,255,255,.6);
    animation: progress-42 1s ease-in-out forwards; /* initial demo animation*/
}

@keyframes progress-42 {
    from {
        --kode-labs-crystal-progress: 0;
    }
}

