crystal {
    display: block;
    width: 350px;
    height: 60px;
    background: red;
    background: paint(crystal);
    display: grid;
    color: var(--color-bg);
    place-items: center;
    text-shadow: 1px -1px 0 rgba(255,255,255,.6), 1px 1px 0 rgba(255,255,255,.6), -1px -1px 0 rgba(255,255,255,.6),  -1px 1px 0 rgba(255,255,255,.6);
}

crystal span {}
