badge{
    --kode-labs-circles-width: 1 1 2 4;
    --kode-labs-circles-opacity: .1 .2 .5 .6;
    --kode-labs-edge-direction: to right;
    --kode-labs-edge-width: 1;

    display: block;
    background: paint(kode-labs-circles);
    padding: 1.5em;
    border-image-source: paint(kode-labs-edge);
    border-image-slice: 1;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
    color: var(--primary-color);
    border-right: 40px solid transparent;
    background-clip: padding-box;
}

badge[labs-invert-direction] {
    border-left: 40px solid transparent;
}
